{
    "presets" : [ [
        "es2015",
        {
            "modules" : false,
            "targets" : {
                "browsers" : [ "safari >= 10", "not ie <= 8" ]
            }
        }
    ] ],
    "plugins" : [ "external-helpers" ]
}
